.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.menu-btn {
	color: #FFFFFF;
	background: #800000;
}

a {
	color: #800000;
}

a:hover {
	color: #500000;
}

.btn-link {
    color: #800000;
}

.btn-link:hover {
    color: #400000;
}

.btn-primary {
    color: #fff;
    background-color: #800000;
    border-color:  #800000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #500000;
    border-color:  #800000;
}

.centered-img-text {
  position: absolute;
  top: -8%;
  left: 20%;
  transform: translate(0%, 20%);
  color: #000
}

.img-container {
  width:800px;
  height:150px;

  position: relative;
  text-align: center;
  color: white;
}

